### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


*.class
/lib/
/bin/
/bati-cuisine.iml

/.idea/libraries/postgresql_42_6_2.xml
/.idea/.gitignore
/.idea/dataSources.xml
/.idea/discord.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/vcs.xml

/resources/database.properties
/build/
